<div class="wrapper" [hidden]="!data.state">
    <div class="modal">
        <div class="modal-header">
            <p>{{data.title}}</p>
            <i class="close" (click)="close()"></i>
        </div>
        <div class="modal-body">
            <form action="create()" *ngIf="data.type == 'create'">
                <ul>
                    <li>
                        <input type="text" name="title" placeholder="Название объекта" [(ngModel)]="title">
                        <p class="error">{{error.title}}</p>
                    </li>
                    <li>
                        <input type="text" name="latitude" placeholder="Широта" [(ngModel)]="latitude">
                        <p class="error">{{error.latitude}}</p>
                    </li>
                    <li>
                        <input type="text" name="longitude" placeholder="Долгота" [(ngModel)]="longitude">
                        <p class="error">{{error.longitude}}</p>
                    </li>
                    <li><input type="submit" value="Создать" (click)="create()" class="create"></li>
                </ul>
            </form>
            <div *ngIf="data.type == 'delete'" class="delete">
                <button class="delete-button" (click)="delete()">Удалить</button>
                <button class="cancel-button" (click)="close()">Отмена</button>
            </div>
        </div>
    </div>
</div>