<div class="wrapper">
    <div class="objects">
        <div class="filter">
            <input type="text" class="filter-input" [(ngModel)]="title" placeholder="Введите название">
        </div>
        <div class="objects-table">
            <table class="table-wrapper" cellspacing="0" cellpadding="0" style="border: none;">
                <tr style="border: none;">
                    <td style="border: none;">
                        <table class="table-header" cellspacing="0" cellpadding="1">
                            <col width="25%">
                            <col width="25%">
                            <col width="25%">
                            <col width="25%">
                            <tr>
                                <th>Название</th>
                                <th>Координата x</th>
                                <th>Координата y</th>
                                <th>Удалить</th>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="border: none;">
                    <td style="border: none; padding: 0;">
                        <div class="table-body">
                            <table cellspacing="0" cellpadding="1">
                                <col width="25%">
                                <col width="25%">
                                <col width="25%">
                                <col width="25%">
                                <tbody>
                                    <tr class="row" *ngFor="let object of objects | objectsFilter: title"
                                        attr.data-id={{object.id}} (click)="select($event)">
                                        <td>{{object.title}}</td>
                                        <td>{{object.latitude}}</td>
                                        <td>{{object.longitude}}</td>
                                        <td><i class="delete" (click)="delete($event)"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <button (click)="create()" class="create">Добавить объект</button>
    </div>
</div>